@use '../../../styles/mixins' as *;

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  @include container;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.categoryCard {
  width: calc((100% - 40px) / 3); // 2 * 20px gap между 3 карточками
  min-width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subcategories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
