@use '../../../../shared/styles/mixins' as *;

.question {
  @include container;
  margin-bottom: 20px;

  pre {
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 1.4;
  }
}

.code {
  margin-top: 12px;
}
