.leftPanel {
  flex: 1;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  padding: 40px;
  height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}