@use 'normalize.css';
@use './variables';
@use './mixins';

:root {
  height: 100%;

  --bg-color: #000000;
  --text-color: #ffffff;
  --card-bg: #1A1A1A;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

::selection {
  background-color: #09def6;
  color: #fff;
}
