.formItem {
  text-align: left;
}

.input {
  padding: 15px;
  font-size: 14px;
  border-radius: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: #1890ff;
    box-shadow: 0 0 5px rgba(24, 144, 255, 0.2);
  }
}